= render 'layouts/sidebar'
.large-7.medium-7.small-7.columns.bg-white.content
  - if following?
    = render partial: 'welcome/post', collection: posts
.large-2.medium-2.small-2.columns
  - unless current_user == user
    - if following?
      = link_to 'Unfollow', friend_path({user_id:  user.id }), method: :delete,
        class: 'button small radius right '
    - else
      = link_to 'Follow', friends_path({user_id:  user.id }), method: :post,
        class: 'button small radius right '
