= render 'layouts/sidebar' 
.large-7.medium-7.small-7.columns
  %h3 What's on your mind?
  .row
    .large-10.medium-10.small-10.colums
      = render 'posts/form'
      = render partial: 'publication', collection: publications
.large-2.medium-2.small-2.columns
  %h4 New users


